<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="mountain" src="/img/mountains.jpg">
        <p>This is a beautiful picture of the mountains.</p>
    </div>
    {{>footer}}
</body>
</html>